/env/
/appvbgbackend/__pycache__/
/login/__pycache__/
/login/migrations/__pycache__/
/appvbgbackend/Scripts/
/appvbgbackend/Lib/
/appvbgbackend/pyvenv.cfg
.env
/bot/
comandos.txt
/talleres/__pycache__/
/agenda/__pycache__/
/quejas/__pycache__/
__pycache__/